@{
    ViewData["Title"] = "Home Page";
}

<h1>Anthony Stender</h1>
<a href="https://www.linkedin.com/in/anthony-stender/">LinkedIn</a>
<a href="https://github.com/TheStender">Github</a>

<h3>Applications</h3>

<h5>Current Projects</h5>
<p><strong>Post Pay Job Aid</strong> - Application to assist in my current job (ASP.NET version, in progress)</p>
<a href="https://postpay.herokuapp.com/">Link to project</a>&emsp;&emsp;<a href="https://github.com/TheStender/postpay">Link to Github</a>
<p><strong>Post Pay Job Aid</strong> - Archived version of application (JQuery/JavaScript version)</p>
<a href="https://postpayarchived.herokuapp.com/">Link to project</a>&emsp;&emsp;<a href="https://github.com/TheStender/jobaid">Link to Github</a>
<p><strong>Biking Website</strong> - A place to store my biking information</p>
<a href="https://minnesotabiking.herokuapp.com/">Link to project</a>&emsp;&emsp;<a href="https://github.com/TheStender/Biking">Link to Github</a>
<p><strong>Activity Tracker</strong> - A place to track activities</p>
<a href="https://anthonystender-activitytracker.herokuapp.com/">Link to project</a>&emsp;&emsp;<a href="https://github.com/TheStender/activitytracker">Link to Github</a>


<h5>Future Projects</h5>
<p><strong>Star Wars Simulation</strong> - A Star Wars simulation game</p>
<a href="https://starwarssim.herokuapp.com/">Link to project</a>&emsp;&emsp;<a href="https://github.com/TheStender/starwars">Link to Github</a>
<p><strong>Federation Game</strong> - A game based on an AOL game</p>
<a href="https://federationgame.herokuapp.com/">Link to project</a>&emsp;&emsp;<a href="https://github.com/TheStender/federation">Link to Github</a>
<p><strong>Castle of the Winds RPG Game</strong> - A game based on Castle of the Winds</p>
<a href="https://castlerpggame.herokuapp.com/">Link to project</a>&emsp;&emsp;<a href="https://github.com/TheStender/castlerpg">Link to Github</a>



