@{
    ViewData["Title"] = "Home Page";
}

<h1>Anthony Stender</h1>

<h3>Applications</h3>

<p><strong>Post Pay Job Aid</strong> - Application to assist in my current job</p>
<p><strong>Biking Website</strong> - A place to store my biking information</p>
<p><strong>Activity Tracker</strong> - A place to track activities</p>
<p><strong>Star Wars Simulation</strong> - A Star Wars simulation game</p>
<p><strong>Federation Game</strong> - A game based on an AOL game</p>